#stationMap {
    height: 600px;
    width: 100%;
}

.hidden {
    display: none;
}

#sidebar {
    overflow: scroll;
    height: 513px;
}

#sidebar>div.sidebar-item:not(:last-child) {
    margin-bottom: 5px;
    border-bottom: 1px solid #B6403F;
}

.java-locations {
    display: flex;
}

.side {
    padding: 20px;
    background-color: #EAE6DE;
}

#searchInput {
    background-color: #fff;
}
#stationMap .leaflet-popup-content{
    margin: 5px;
    padding: 5px;
}