#stationMap {
    height: 600px;
    width: 100%;
}

.hidden {
    display: none;
}

#sidebar {
    overflow: scroll;
    height: 513px;
}

#sidebar>div.sidebar-item:not(:last-child) {
    margin-bottom: 5px;
    border-bottom: 1px solid RGBa(182, 64, 63,10%);
}

.java-locations {
    display: flex;
}

.side {
    padding: 20px;
    background-color: #EAE6DE;
}

#searchInput {
    background-color: #fff;
    border-radius: 23px;
}
#stationMap .leaflet-popup-content{
    margin: 5px;
    padding: 5px;
}
.leaflet-popup-content-wrapper{
    border-radius: 20px;
}
.leaflet-popup-content img {
    border-radius: 20px;
  }